* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.orange-text-color {
  color: rgb(237, 167, 37);
}
.orange-back-color {
  background-color: rgb(236, 174, 58);
}

.sectionTitle {
  padding: 25px;
  text-align: center;
  font-size: 27px;
  background-color: white;
}
.sectionTitle:before,
.sectionTitle:after {
  content: "";
  vertical-align: middle;
  height: 1px;
  display: inline-block;
  background-color: black;
  width: 5%;
  position: relative;
}
.sectionTitle::before {
  right: 5px;
}
.sectionTitle::after {
  left: 5px;
}
